baseURL = 'https://www.franciscomora.cl'
languageCode = 'en-us'
title = '/home/fmoradev'
theme = "paper"
author = "Francisco Mora"
copyright = "Copyleft © 2008–2019, Steve Francia and the lee.so; all rights reserved."
paginate = 3
enableInlineShortcodes = true
# prevent build failures when using Hugo's Instagram shortcode due to deprecated Instagram API.
# See https://github.com/gohugoio/hugo/issues/7228#issuecomment-714490456
ignoreErrors = ["error-remote-getjson"]

[params]
  color = 'linen'

  twitter = 'fmoradev'
  github = 'fmoradev'
  #instagram = 'fmoradev'
  #mastodon = 'fmoradev'
  rss = true

  avatar = 'https://www.franciscomora.cl/linux.png'
  name = 'Francisco Mora'
  bio = 'QA Automation & Developer'

# needed to  render raw HTML (e.g. <sub>, <sup>, <kbd>, <mark>)
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[menu]

  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 10
  #[[menu.main]]
  #   identifier = "contact"
  #  name = "Contact"
  #  url = "/contact/"
  #  weight = 10

[taxonomies]
category = "categories"
tag = "tags"
series = "series"

[privacy]

  [privacy.vimeo]
    disabled = false
    simple = true

  [privacy.twitter]
    disabled = false
    enableDNT = true
    simple = true

  [privacy.instagram]
    disabled = false
    simple = true

  [privacy.youtube]
    disabled = false
    privacyEnhanced = true

[services]

  [services.instagram]
    disableInlineCSS = true

  [services.twitter]
    disableInlineCSS = true
